
<div class="container">
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit(myForm.value)"
    class="form-specific"
  >
    <div
      [class.error]="!myForm.get('type').valid && myForm.get('type').touched"
      class="radio-wrapper"
    >
      <div class="field-wrapper">
        <label for="passwordId">{{'TENANT.TENANT_ADMIN.NOTIFY_TYPE' | translate}}</label>
        <span>
          <input class="radio true"
            name="type"
            type="radio" id="yes"
            value="email"
            [formControl]="myForm.controls['type']"
            (click)="typeChange(addingTypes['email'])"
          />
          <label for="yes">{{'TENANT.TENANT_ADMIN.EMAIL' | translate}}</label>
          <input class="radio false"
            name="type"
            type="radio"
            id="no"
            value="phone"
            [formControl]="myForm.controls['type']"
            (click)="typeChange(addingTypes['phone'])"
            />
            <!-- [(ngModel)]="addType" -->
          <label for="no">{{'TENANT.TENANT_ADMIN.PHONE' | translate}}</label>
        </span>
      </div>

      <div
        *ngIf="myForm.controls['type'].hasError('required') && myForm.controls['type'].touched"
        class="message"
      >{{'ADMINISTRATORS.DELETABLE_TIP_REQUIRED' | translate}}</div>
    </div>

    <div
      [class.error]="!myForm.get('username').valid && myForm.get('username').touched"
    >
      <div class="field-box">
        <label for="usernameId"><span>*</span>{{'TENANT.TENANT_ADMIN.USER_NAME' | translate}}</label>
        <input
          class="field"
          type="text"
          id="usernameId"
          autocomplete="off"
          [formControl]="myForm.controls['username']"
         />
      </div>

      <div
        *ngIf="myForm.controls['username'].hasError('required') && myForm.controls['username'].touched"
        class="message"
      >{{'TENANT.TENANT_ADMIN.REQUIRED' | translate}}</div>
    </div>

    <div
      [class.error]="!myForm.get('password').valid && myForm.get('password').touched"
    >
      <div class="field-box">
        <label for="passwordId"><span>*</span>{{'TENANT.TENANT_ADMIN.PASSWORD' | translate}}</label>
        <input
          class="field"
          type="password"
          placeholder="{{'TENANT.PWD_PLACEHOLDER' | translate}}"
          id="passwordId"
          autocomplete="off"
          [formControl]="myForm.controls['password']"
         />
      </div>

      <div
        *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched"
        class="message"
      >{{'TENANT.TENANT_ADMIN.REQUIRED' | translate}}</div>
      <div
        *ngIf="myForm.controls['password'].hasError('pattern') && myForm.controls['password'].touched"
        class="message">{{'TENANT.PWD_PLACEHOLDER' | translate}}</div>
    </div>

    <div
      *ngIf="addType==='email'"
      [class.error]="!myForm.get('userEmail').valid && myForm.get('userEmail').touched"
    >
      <div class="field-box">
        <label for="userEmailId"><span>*</span>{{'TENANT.TENANT_ADMIN.EMAIL' | translate}}</label>
        <input
          class="field"
          type="email"
          id="userEmailId"
          autocomplete="off"
          [formControl]="myForm.controls['userEmail']"
         />
      </div>

      <div
        *ngIf="myForm.controls['userEmail'].hasError('required') && myForm.controls['userEmail'].touched"
        class="message"
      >{{'TENANT.TENANT_ADMIN.REQUIRED' | translate}}</div>
      <div
        *ngIf="myForm.controls['userEmail'].hasError('pattern') && myForm.controls['userEmail'].touched"
        class="message"
      >{{'TENANT.FORMAT_ERROR' | translate}}</div>
    </div>
    <div
      *ngIf="addType!=='email'"
      [class.error]="!myForm.get('userPhone').valid && myForm.get('userPhone').touched"
    >
      <div class="field-box">
        <label for="userPhoneId"><span>*</span>{{'手机号' | translate}}</label>
        <input
          class="field"
          type="email"
          id="userPhoneId"
          autocomplete="off"
          [formControl]="myForm.controls['userPhone']"
         />
      </div>

      <div
        *ngIf="myForm.controls['userPhone'].hasError('required') && myForm.controls['userPhone'].touched"
        class="message"
      >{{'TENANT.TENANT_ADMIN.REQUIRED' | translate}}</div>
      <div
        *ngIf="myForm.controls['userPhone'].hasError('pattern') && myForm.controls['userPhone'].touched"
        class="message"
      >{{'TENANT.FORMAT_ERROR' | translate}}</div>
    </div>

    <div
      [class.error]="!myForm.get('fullName').valid && myForm.get('fullName').touched"
    >
      <div class="field-box">
        <label for="fullNameId"><span>*</span>{{'TENANT.TENANT_ADMIN.FULL_NAME' | translate}}</label>
        <input
          class="field"
          type="text"
          id="fullNameId"
          autocomplete="off"
          [formControl]="myForm.controls['fullName']"
         />
      </div>

      <div
        *ngIf="myForm.controls['fullName'].hasError('required') && myForm.controls['fullName'].touched"
        class="message"
      >{{'TENANT.TENANT_ADMIN.REQUIRED' | translate}}</div>
    </div>

    <div>
      <div class="field-box">
        <label for="maxTenantQuantityId">{{'TENANT.TENANT_ADMIN.MAX_TENANT_NUMBER' | translate}}</label>
        <input
          class="field"
          type="text"
          id="maxTenantQuantityId"
          autocomplete="off"
          [formControl]="myForm.controls['maxTenantQuantity']"
          novalidate="novalidate"
         />
      </div>
      <div class="message gray">{{'TENANT.TENANT_ADMIN.LIMITS' | translate}}</div>
    </div>

    <div>
      <div class="field-box">
        <label for="companyId">{{'TENANT.TENANT_ADMIN.COMPANY' | translate}}</label>
        <input
          class="field"
          type="text"
          id="companyId"
          autocomplete="off"
          [formControl]="myForm.controls['company']"
          novalidate="novalidate"
         />
      </div>
    </div>

    <div>
      <div class="field-box">
        <label for="departmentId">{{'TENANT.TENANT_ADMIN.DEPARTMENT' | translate}}</label>
        <input
          class="field"
          type="text"
          id="departmentId"
          autocomplete="off"
          [formControl]="myForm.controls['department']"
          novalidate="novalidate"
         />
      </div>
    </div>

    <div class="buttons">
      <button
        class="tui-btn-md tui-btn-primary tui-btn"
        type="submit"
        [disabled]="!myForm.valid ? 'disabled' : null"
      >{{'TENANT.NETWORK.CONFIRM' | translate}}</button>
      <button
        class="tui-btn-md tui-btn-default tui-btn"
        type="button"
        (click)="closeSelf()"
      >{{'TENANT.TENANT_ADMIN.QUIT' | translate}}</button>
    </div>
  </form>
</div>

