
<div class="tui-layout-vertical">

  <div class="tui-layout-main-container flex-auto">

    <div class="main-content section section0" #listenerHolder>

      <div class="summary">

        <div class="quantity radius-shadow">
          <h4>{{'ABSTRACT.QUANTITY_SUMMARY' | translate}}</h4>
          <div class="box">
            <span>
              <svg tuiIcon="pile" size="lg"></svg>
              <p class="amount">{{quantitySummary.nodeCount}}</p>
              <p class="description">{{'ABSTRACT.NODES_AMOUNT' | translate}}</p>
            </span>
            <span>
              <svg tuiIcon="TODO" size="lg"></svg>
              <p class="amount">{{quantitySummary.tenantCount}}</p>
              <p class="description">{{'ABSTRACT.TENANT_AMOUNT' | translate}}</p>
            </span>
            <span>
              <svg tuiIcon="TODO" size="lg"></svg>
              <p class="amount">{{quantitySummary.productCount}}</p>
              <p class="description">{{'ABSTRACT.PRODUCT_TYPE' | translate}}</p>
            </span>
            <span>
              <svg tuiIcon="TODO" size="lg"></svg>
              <p class="amount">{{quantitySummary.instanceCount}}</p>
              <p class="description">{{'ABSTRACT.INSTANCES_AMOUNT' | translate}}</p>
            </span>
          </div>
        </div>
        <!--E: quantity-->

        <div class="loads radius-shadow flex-colunn">
          <h4>{{'ABSTRACT.LOAD_SUMMARY' | translate}}</h4>
          <tui-select
            [ngClass]="{ select: true }"
            placeholder="tui select example"
            [(ngModel)]="platformSummaryOption.label"
            #loadsSelect
          >
            <tui-select-option
              *ngFor="let option of hourOptions"
              [value]="option.value"
              [label]="option.label">
              {{option.label | tuiDefault }}
            </tui-select-option>
          </tui-select>
          <!-- here we have three donut charts, the:
            "average used network";
            "whole faulty ratio". can't be implemented by backend
           -->
          <tec-chart-wrapper
            [chartType]="platformSummaryParam.chartType"
            [fetchData]="platformSummaryParam.fetchData"
            [config]="platformSummaryParam.config"
            #platformSummaryWrapper
          ></tec-chart-wrapper>
        </div>
      </div>
      <!--E: summary-->

      <div class="tenant-grow-trend radius-shadow flex-colunn">
        <h4>{{'ABSTRACT.TENANT_GROW_TREND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="tenantGrowTrendOption.label"
          #tenantGrowTrendSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <tec-chart-wrapper
            [chartType]="tenantGrowTrendParam.chartType"
            [fetchData]="tenantGrowTrendParam.fetchData"
            [config]="tenantGrowTrendParam.config"
            #tenantGrowTrendWrapper
          ></tec-chart-wrapper>
      </div>
    </div>
    <!--E: section0-->

    <div class="main-content section">

      <div class="node-load-trend radius-shadow flex-colunn">
        <h4>{{'ABSTRACT.NODE_LOAD_TREND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="nodeLoadTrendOption.label"
          #nodeLoadTrendSelect
        >
          <tui-select-option
            *ngFor="let option of hourOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <tec-chart-wrapper
          [chartType]="nodeLoadTrendParam.chartType"
          [fetchData]="nodeLoadTrendParam.fetchData"
          [config]="nodeLoadTrendParam.config"
          #nodeLoadTrendWrapper
        ></tec-chart-wrapper>
      </div>

      <div class="node-amount-trend radius-shadow flex-colunn">
        <h4>{{'ABSTRACT.NODE_AMOUNT_TRAND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="nodeAmountTrendOption.label"
          #nodeAmountTrendSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <tec-chart-wrapper
          [chartType]="nodeAmountTrendParam.chartType"
          [fetchData]="nodeAmountTrendParam.fetchData"
          [config]="nodeAmountTrendParam.config"
          #nodeAmountTrendWrapper
        ></tec-chart-wrapper>
      </div>
    </div>

    <div class="main-content section">
      <div class="products-instances-ranking radius-shadow flex-colunn">
        <h4>{{'ABSTRACT.PRODUCT_INSTANCES_RANKING' | translate}}</h4>
        <span class="amount">{{'ABSTRACT.AMOUNT' | translate}}{{instancesTotalCount}}</span>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="productsInstancesRankingOption.label"
          #productsInstancesRankingSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <tec-chart-wrapper
          [chartType]="productsInstancesRankingParam.chartType"
          [fetchData]="productsInstancesRankingParam.fetchData"
          [config]="productsInstancesRankingParam.config"
          #productsInstancesRankingWrapper
        ></tec-chart-wrapper>
      </div>
      <div class="instances-amount-trend radius-shadow flex-colunn">
        <h4>{{'ABSTRACT.INSTANCES_AMOUNT_TREND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="instancesAmountTrendOption.label"
          #instancesAmountTrendSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
<!--         <div #instancesAmountTrendHolder class="h318px"></div>
         -->
         <tec-chart-wrapper
          [chartType]="instancesAmountTrendParam.chartType"
          [fetchData]="instancesAmountTrendParam.fetchData"
          [config]="instancesAmountTrendParam.config"
          #instancesAmountTrendWrapper
        ></tec-chart-wrapper>
      </div>
    </div>

    <div class="main-content section">
      <div class="products-instances-trend radius-shadow flex-colunn">
        <h4>{{'ABSTRACT.PRODUCTS_INSTANCES_TREND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="productsInstancesTrendOption.label"
          #productsInstancesTrendSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <tec-chart-wrapper
          [chartType]="productsInstancesTrendParam.chartType"
          [fetchData]="productsInstancesTrendParam.fetchData"
          [config]="productsInstancesTrendParam.config"
          #productsInstancesTrendWrapper
        ></tec-chart-wrapper>
      </div>
      <div class="tenant-consumption-ranking radius-shadow flex-colunn">
        <h4>{{'ABSTRACT.TENANT_CONSUMPTION_TOP7' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="tenantConsumptionRankingOption.label"
          #tenantConsumptionRankingSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <tec-chart-wrapper
          [chartType]="tenantConsumptionRankingParam.chartType"
          [fetchData]="tenantConsumptionRankingParam.fetchData"
          [config]="tenantConsumptionRankingParam.config"
          #tenantConsumptionRankingWrapper
        ></tec-chart-wrapper>
        <!-- <div #tenantConsumptionRankingHolder class="h318px"></div> -->
      </div>
    </div>

  </div>

</div>
