
<div class="tui-layout-vertical">

  <div class="tui-layout-main-container flex-auto">

    <div class="main-content section section0">

      <div class="summary">

        <div class="quantity radius-shadow">
          <h4>{{'ABSTRACT.QUANTITY_SUMMARY' | translate}}</h4>
          <div class="box">
            <span>
              <svg tuiIcon="pile" size="lg"></svg>
              <p class="amount">{{quantitySummary.nodeCount}}</p>
              <p class="description">{{'ABSTRACT.NODES_AMOUNT' | translate}}</p>
            </span>
            <span>
              <svg tuiIcon="TODO" size="lg"></svg>
              <p class="amount">{{quantitySummary.tenantCount}}</p>
              <p class="description">{{'ABSTRACT.TENANT_AMOUNT' | translate}}</p>
            </span>
            <span>
              <svg tuiIcon="TODO" size="lg"></svg>
              <p class="amount">{{quantitySummary.productCount}}</p>
              <p class="description">{{'ABSTRACT.PRODUCT_TYPE' | translate}}</p>
            </span>
            <span>
              <svg tuiIcon="TODO" size="lg"></svg>
              <p class="amount">{{quantitySummary.instanceCount}}</p>
              <p class="description">{{'ABSTRACT.INSTANCES_AMOUNT' | translate}}</p>
            </span>
            </div>
          </div>
          <!--E: quantity-->

          <div class="loads radius-shadow">
            <h4>{{'ABSTRACT.LOAD_SUMMARY' | translate}}</h4>
            <tui-select
              [ngClass]="{ select: true }"
              placeholder="tui select example"
              [(ngModel)]="platformSummaryOption.label"
              #loadsSelect
              >
              <tui-select-option
                *ngFor="let option of hourOptions"
                [value]="option.value"
                [label]="option.label">
                {{option.label | tuiDefault }}
              </tui-select-option>
            </tui-select>
            <div #platformSummaryHolder class="platform-summary-donuts">
              <!-- here we have three donut charts, the:
                "average used network";
                "whole faulty ratio". can't be implemented by backend -->
            </div>
          </div>
        </div>
      <!--E: summary-->

      <div class="tenant-grow-trend radius-shadow">
        <h4>{{'ABSTRACT.TENANT_GROW_TREND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="tenantGrowTrendOption.label"
          #tenantGrowTrendSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <div #tenantGrowTrendHolder class="tenant-grow-line h318px"></div>
      </div>
    </div>
    <!--E: section0-->

    <div class="main-content section">

      <div class="node-load-trend radius-shadow">
        <h4>{{'ABSTRACT.NODE_LOAD_TREND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="nodeLoadTrendOption.label"
          #nodeLoadTrendSelect
        >
          <tui-select-option
            *ngFor="let option of hourOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <div #nodeLoadTrendHolder class="node-load-lines h318px"></div>
      </div>

      <div class="node-amount-trend radius-shadow">
        <h4>{{'ABSTRACT.NODE_AMOUNT_TRAND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="nodeAmountTrendOption.label"
          #nodeAmountTrendSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <div #nodeAmountTrendHolder class="h318px"></div>
      </div>
    </div>

    <div class="main-content section">
      <div class="products-instances-ranking radius-shadow">
        <h4>{{'ABSTRACT.PRODUCT_INSTANCES_RANKING' | translate}}</h4>
        <span class="amount">{{'ABSTRACT.AMOUNT' | translate}}{{instancesTotalCount}}</span>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="productsInstancesRankingOption.label"
          #productsInstancesRankingSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <div #productsInstancesRankingHolder class="h318px"></div>
      </div>
      <div class="instances-amount-trend radius-shadow">
        <h4>{{'ABSTRACT.INSTANCES_AMOUNT_TREND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="instancesAmountTrendOption.label"
          #instancesAmountTrendSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <div #instancesAmountTrendHolder class="h318px"></div>
      </div>
    </div>

    <div class="main-content section">
      <div class="products-instances-trend radius-shadow">
        <h4>{{'ABSTRACT.PRODUCTS_INSTANCES_TREND' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="productsInstancesTrendOption.label"
          #productsInstancesTrendSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <div #productsInstancesTrendHolder class="h318px"></div>
      </div>
      <div class="tenant-consumption-ranking radius-shadow">
        <h4>{{'ABSTRACT.TENANT_CONSUMPTION_TOP7' | translate}}</h4>
        <tui-select
          [ngClass]="{ select: true }"
          placeholder="tui select example"
          [(ngModel)]="tenantConsumptionRankingOption.label"
          #tenantConsumptionRankingSelect
        >
          <tui-select-option
            *ngFor="let option of monthlyOptions"
            [value]="option.value"
            [label]="option.label">
            {{option.label | tuiDefault }}
          </tui-select-option>
        </tui-select>
        <div #tenantConsumptionRankingHolder class="h318px"></div>
      </div>
    </div>

  </div>

</div>
