@import '../../../styles/util'

// S: common
.h200
  height: 200px

.h348
  height: 348px

.flex-1
  flex: 1

.flex-2
  flex: 2

.flex-3
  flex: 3

.flex-5
  flex: 5

// E: common

.row
  display: flex
  flex-direction: row
  align-items: stretch
  margin-bottom: 10px

.panel
  display: flex
  flex-direction: column
  background-color: white
  @include main-container()
  position: relative

  &:last-child
    margin-left: 10px

  h5
    margin: 0
    height: 50px
    line-height: 50px
    text-indent: 20px

  .select
    width: 150px
    position: absolute
    right: 40px
    top: 10px
  div
    height: 150px

  .chart-holder
    position: relative

