
<div class="row h348">
  <div class="panel instances-trend flex-2" style="margin-left: 0">
    <!--3. 云产品实例变化趋势 -->
    <h5>{{'TENANT.ABSTRACT.INSTANCES_TREND' | translate}}</h5>
    <tui-select
      [ngClass]="{ select: true }"
      placeholder="tui select example"
      [ngModel]="instancesCountTrendOption"
      (ngModelChange)="doModelChange(
        $event, 'instancesCountTrendOption', instancesCountTrendWrapper)"
      #instancesCountTrendSelect
    >
      <tui-select-option
        *ngFor="let option of monthlyOptions"
        [value]="option"
        [label]="option.label">
        {{option.label | tuiDefault }}
      </tui-select-option>
    </tui-select>
    <tec-chart-wrapper
      [data]="instancesCountTrendParam"
      #instancesCountTrendWrapper
    ></tec-chart-wrapper>
  </div>
</div>

<div class="row h348">
  <div class="panel consumption-trend flex-5">
  <!--5. 云产品实例数量 -->
  <!-- here the name PRODUCTS_TREND was wrong, should be INSTANCES_COUNT(follow backend or INSTANCES_AMOUNT ) -->
    <h5>{{'TENANT.ABSTRACT.PRODUCTS_TREND' | translate}}</h5>
    <tec-chart-wrapper
      [data]="instancesCountParam"
      #instancesCountWrapper
    ></tec-chart-wrapper>
  </div>

  <div class="panel cpu-trend flex-3">
    <!--6.CPU负载率 -->
    <h5>{{'TENANT.ABSTRACT.CPU_TREND' | translate}}</h5>
    <div class="recent-hour">
      <div class="block">{{'TENANT.ABSTRACT.LAST_HOUR' | translate}}</div>
      <ul>
        <li><span>{{'TENANT.ABSTRACT.NOW' | translate}}</span><span>{{CPULoadLastHour.now}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.MIN' | translate}}</span><span>{{CPULoadLastHour.min}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.AVG' | translate}}</span><span>{{CPULoadLastHour.avg}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.MAX' | translate}}</span><span>{{CPULoadLastHour.max}}</span></li>
      </ul>
    </div>
    <tec-chart-wrapper
      [data]="CPULoadTrendParam"
      #CPULoadTrendWrapper
    ></tec-chart-wrapper>
  </div>
</div>

<div class="row h348">
  <div class="panel memory-trend flex-3">
    <h5>{{'TENANT.ABSTRACT.MEMORY_TREND' | translate}}</h5>
    <div class="recent-hour">
      <div class="block">{{'TENANT.ABSTRACT.LAST_HOUR' | translate}}</div>
      <ul>
        <li><span>{{'TENANT.ABSTRACT.NOW' | translate}}</span><span>{{memoryLoadLastHour.now}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.MIN' | translate}}</span><span>{{memoryLoadLastHour.min}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.AVG' | translate}}</span><span>{{memoryLoadLastHour.avg}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.MAX' | translate}}</span><span>{{memoryLoadLastHour.max}}</span></li>
      </ul>
    </div>
    <tec-chart-wrapper
      [data]="memoryLoadTrendParam"
      #memoryLoadTrendWrapper
    ></tec-chart-wrapper>
  </div>

  <div class="panel storage-trend flex-5">
    <h5>{{'TENANT.ABSTRACT.STORAGE_TREND' | translate}}</h5>
    <div class="recent-hour">
      <div class="block">{{'TENANT.ABSTRACT.LAST_HOUR' | translate}}</div>
      <ul>
        <li><span>{{'TENANT.ABSTRACT.NOW' | translate}}</span><span>{{storageLoadLastHour.now}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.MIN' | translate}}</span><span>{{storageLoadLastHour.min}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.AVG' | translate}}</span><span>{{storageLoadLastHour.avg}}</span></li>
        <li><span>{{'TENANT.ABSTRACT.MAX' | translate}}</span><span>{{storageLoadLastHour.max}}</span></li>
      </ul>
    </div>
    <tec-chart-wrapper
      [data]="storageLoadTrendParam"
      #storageLoadTrendWrapper
    ></tec-chart-wrapper>
  </div>
</div>
