<div class="row">
  <div class="panel platform-info flex-3">{{'TENANT.ABSTRACT.PLATFORM_INFO' | translate}}</div>
  <div class="panel service-health flex-2">{{'TENANT.ABSTRACT.SERVICE_HEALTH' | translate}}</div>
</div>

<div class="row">
  <div class="panel instances-trend flex-2">{{'TENANT.ABSTRACT.INSTANCES_TREND' | translate}}</div>
  <div class="panel products-trend flex-3">{{'TENANT.ABSTRACT.PRODUCTS_TREND' | translate}}</div>
</div>

<div class="row">
  <div class="panel consumption-trend flex-5">{{'TENANT.ABSTRACT.CONSUMPTION_TREND' | translate}}</div>
  <div class="panel cpu-trend flex-3">{{'TENANT.ABSTRACT.CPU_TREND' | translate}}</div>
</div>

<div class="row">
  <div class="panel memory-trend flex-3">{{'TENANT.ABSTRACT.MEMORY_TREND' | translate}}</div>
  <div class="panel storage-trend flex-5">{{'TENANT.ABSTRACT.STORAGE_TREND' | translate}}</div>
</div>

<div class="row">
  <div class="panel network-trend flex-5">{{'TENANT.ABSTRACT.NETWORK_TREND' | translate}}</div>
  <div class="panel service-kill-trend flex-3">{{'TENANT.ABSTRACT.SERVICE_KILL_TREND' | translate}}</div>
</div>
