@import 'util';

\:host
  display: inline-flex

  .service-tag-item
    display: inline-block
    margin-right: 10px
    padding: 0 5px
    text-align: center
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    color: #9aa3b4
    background-color: #f1f4f9
    border-radius: 4px
    font-size: 12px


  .service-tag-item:last-child
    margin-right: 0

