<div class="tui-layout-body">
  <div class="aside filter">
    <tec-node-aside
      (filterReset) = "onFilterReset($event)"
      (filterSelectStatus) = "onFilterSelectStatus($event)"
      (filterSelectNewJoined) = "onFilterSelectNewJoined($event)"
      (reselect) = "onReselect($event)"

      [filter] = "this.filter"
      [backUrl]="backUrl"></tec-node-aside>
  </div>

  <div class="tui-layout-vertical">
    <div class="tui-layout-main-container" style="min-height:100%">

      <div class="maintain">
        <span class="left">主机总计：{{total}}</span>

        <span class="right">
          <button tuiBtn="primary">
            <svg tuiIcon="export"></svg>
            <span>EXPORT</span>
          </button>

          <tui-search
            [(ngModel)]="search"
            (ngModelChange)="onSearch(true)"
          ></tui-search>
        </span>
      </div>

      <tui-table class="tui-table" [tuiTableFlex]="[1.5,1,2,2,2,1.5,2,2]" [loading]="loading">

        <tui-table-head>
          <div>{{'NODE.NAME' | translate}}</div>
          <div>{{'NODE.STATUS' | translate}}</div>
          <div>{{'NODE.MEMORYUSED' | translate}}</div>
          <div>{{'NODE.SSDUSED' | translate}}</div>
          <div>{{'NODE.HDDUSED' | translate}}</div>
          <div>{{'NODE.MICROSERVICE' | translate}}</div>
          <div>{{'NODE.IP' | translate}}</div>
          <div>{{'NODE.JOINTIME' | translate}}</div>
        </tui-table-head>

        <tui-table-row *ngFor="let instance of tableData">
          <div class="text-ellipsis">{{instance.name}}</div>
          <div class="text-ellipsis">{{instance.status}}</div>
<!--           <div>{{instance.resources.memory.usage+ ' '+ instance.resources.memory.usagePercent + '%'}}</div> -->
          <div>内存使用量</div>
          <div>SSD使用量</div>
          <div>HDD使用量</div>
          <div>{{instance.microServicesCount}}</div>
          <div>{{instance.ip}}</div>
          <div>{{instance.joinTime | date: 'yyyy/MM/dd h:mm a'}}</div>
        </tui-table-row>

      </tui-table>
      
      <div class="tui-layout-main-pagination-footer">
        <tui-pagination [(pagination)]="pagination" (paginationChange)="paginationChange()">
        </tui-pagination>
      </div>

    </div>

  </div>
</div>
