
.tui-layout-body
  width: 100%

.tui-layout-main-container
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: stretch
  min-height: 100%
  padding-top: 0.5rem

.maintain
  height: 52px
  display: flex
  align-items: center
  justify-content: space-between

  .right
    padding-right: 20px
    height: 52px
    line-height: 52px

    button
      margin-right: 10px
      overflow: hidden
      display: inline-flex
      align-items: center
      vertical-align: middle

      > svg
        margin-right: 2px

    .tui-search
      vertical-align: middle

.tui-table
  flex: 1
  font-size: 13px
