
<ul class="wrapper">
  <li *ngFor="let quota of quotas; let i=index;">
    <div class="text-ellipsis">{{quota.nameAlias}}</div>

    <div
      *ngIf="!!editing && (i===editingKey)"
    >
      <input
        type="text"
        class="text-ellipsis replacement"
        value={{quota.limit}}
        [(ngModel)]="quotas[i]['limit']"
      />{{' ' + quota.unit}}
    </div>

    <ng-container *ngIf="!editing || i!==editingKey">
      <div
        *ngIf="quota.limit !== null"
        class="text-ellipsis"
      >
        {{quota.limit + ' ' + quota.unit}}
      </div>

      <div
        *ngIf="quota.limit === null"
        class="text-ellipsis"
      >
        {{'TENANT.QUOTA.UNDEFINED' | translate}}
      </div>
    </ng-container>

    <tec-edit
      *ngIf="isAdmin"
      (editChange)="onEditChange($event)"
      [key]="i"
      [editingKey]="editingKey"
    ></tec-edit>
  </li>
</ul>
