<form
  [formGroup]="correctionForm"
  tuiForm
  labelFlex="1"
  inputFlex="4"
  class="tcc-modal-content"
  (ngSubmit)="confirm()"
>
  <tui-form-item label="{{'TENANT.BILL.ID' | translate}}">
    <div class="bill-id">{{bill.id}}</div>
  </tui-form-item>
  <tui-form-item label="{{'TENANT.BILL.CORRECTION_TYPE' | translate}}">
    <tui-select [formControl]="correctionForm.controls['type']" required>
      <tui-select-option *ngFor="let type of correctionTypes" [value]="type" label="{{'TENANT.BILL.' + type | translate}}">
        {{'TENANT.BILL.' + type | translate}}
      </tui-select-option>
    </tui-select>
  </tui-form-item>
  <tui-form-item label="{{'TENANT.BILL.CORRECTION_AMOUNT' | translate}}">
    <tui-input name="amount" [formControl]="correctionForm.controls['amount']" required>
    </tui-input>
  </tui-form-item>
  <tui-form-item label="{{'TENANT.BILL.CORRECTION_REASON' | translate}}">
    <textarea name="reason" [formControl]="correctionForm.controls['reason']"></textarea>
  </tui-form-item>
  <div class="tui-modal-foot">
    <button tuiBtn="primary" [disabled]="correctionForm.invalid">{{'TUI.MODAL.CONFIRM' | translate}}</button>
    <button tuiBtn="default" (click)="close()">{{'TUI.MODAL.CANCEL' | translate}}</button>
  </div>
</form>
