@import '../../styles/util'

\:host
  width: 190px
  height: 100%

.bg
  background: #fff


.link-color
  color: #305ab5

.error-color
  color: #e04d55
    


.filter-ul
  // height: calc(100vh - 4rem - 40px)
  height: 100%
  overflow-y: auto

  li
    height: 52px
    font-size: 13px

    a
      cursor: pointer
      display: inline-block
      width: 100%
      height: 52px
      line-height: 52px
      text-indent: 30px

      &:hover, &.current
        color: #fff
        background: #305ab5

    &.title
      font-size: 1.4rem
      font-weight: bold
      line-height: 52px
      text-indent: 30px


  button
    border: 0
    background: transparent
    font-size: 1.3rem
    position: relative
    left: 16px

  span
    float: right
    display: inline-block
    width: 75px
    height: 52px
    text-indent: 10px
    font-weight: bold

  .tui-select
    margin-left: 30px

.tui-select-option, .tui-select-label, .tui-select-head
  font-size: 1.4rem

.tui-select-label 
  font-size: 1.4rem












