<div class="tui-layout-vertical">
  <div class="tui-layout-main-container">
    <div class="tui-layout-main-title">
      <span>{{'SYSTEM.OVERVIEW.TOTAL' | translate}}:</span>
      <span>{{pagination.total}}</span>
    </div>

    <div class="container-operation-bar">
      <tui-search [(ngModel)]="keyword" (ngModelChange)="search()">
      </tui-search>
    </div>

    <div class="container-content">
      <tui-table [tuiTableFlex]="[1, 1, 1, 2, 3, 1, 1]" [loading]="loading">
        <tui-table-head>
          <div>{{'SYSTEM.OVERVIEW.NAME' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.STATUS' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.VERSION' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.TAG' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.IMAGE' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.DURATION' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.OPERATION' | translate}}</div>
        </tui-table-head>
        <tui-table-row *ngFor="let service of services">
          <div class="text-ellipsis">{{service.name}}</div>
          <div>{{'SYSTEM.OVERVIEW.'.concat(service.serviceStatus.status.toUpperCase()) | translate}}</div>
          <div class="text-ellipsis">{{service.edition}}</div>
          <div class="text-ellipsis system-service-tag">
            <tec-system-service-tag
              [tags]="service.labels"
              [tuiPopover]="tooltip"
            ></tec-system-service-tag>
            <tui-popover #tooltip placement="right">
              <div class="popover-tag-container">
                <div class="popover-tag-item" *ngFor="let tag of service.labels">
                  {{tag}}
                </div>
              </div>
            </tui-popover>
          </div>
          <div class="text-ellipsis">{{service.image}}</div>
          <div>{{service.survival | serviceDuration}}</div>
          <div>
            <span tuiTooltip="{{'SYSTEM.OVERVIEW.EDIT' | translate}}">
              <svg tuiIcon="pencil-square" (click)="editYarml()"></svg>
            </span>
            <span tuiTooltip="{{'SYSTEM.OVERVIEW.UPDATE' | translate}}">
              <svg tuiIcon="refresh" (click)="updateImage()"></svg>
            </span>
            <span tuiTooltip="{{'SYSTEM.OVERVIEW.DELETE' | translate}}">
              <svg tuiIcon="trash" (click)="deleteService()"></svg>
            </span>
          </div>
        </tui-table-row>
      </tui-table>
    </div>
    <div class="tui-layout-main-pagination-footer">
      <tui-pagination 
        [(pagination)]="pagination" 
        (paginationChange)="paginationChange()">
      </tui-pagination>
    </div>
  </div>
</div>
