<span *ngIf="editing && key===editingKey">
  <button
    tuiBtn="primary"
    size="sm"
    [disabled]="invalid"
    (click)="edit('save')"
  >
    <svg
      tuiIcon="check"
      size="sm"
      color="white"
    ></svg>
  </button>
  <button
    tuiBtn="default"
    size="sm"
    (click)="edit('cancel')"
  >
    <svg
      tuiIcon="cross"
      size="sm"
      color="white"
    ></svg>
  </button>
</span>

<span
  class="edit"
  *ngIf="!editing || key!==editingKey"
  tuiTooltip="{{'TENANT.DETAIL.EDIT' | translate}}"
  (click)="edit('edit')"
>
  <svg
    tuiIcon="pencil-square"
  ></svg>
</span>

<!--
<span
  *ngIf="!editing"
  class="tcc-icon-btn"
  (click)="statusChange(true, $event)"
  tccTooltip="TENANT.DETAIL.EDIT"
>
  <svg
    tccIcon="pencil-square"
    class="tcc-icon-hover"
  ></svg>
</span>
<div
  *ngIf="editing"
  class="item-body-operation"
>
  <button
    tccBtn="primary"
    size="sm"
    [disabled]="form.invalid"
    (click)="save()"
  >
    <svg
      tccIcon="check"
      size="sm"
      color="white"
    ></svg>
  </button>
  <button
    tccBtn="default"
    size="sm"
    (click)="cancel()"
  >
    <svg
      tccIcon="cross"
      size="sm"
      color="white"
    ></svg>
  </button>
</div>
 -->
