<span *ngIf="editing && key===editingKey">
  <button
    class="first"
    tuiBtn="primary"
    size="sm"
    [disabled]="invalid"
    (click)="edit('save')"
  >
    <svg
      tuiIcon="check"
      size="sm"
      color="white"
    ></svg>
  </button>
  <button
    class="last"
    tuiBtn="default"
    size="sm"
    (click)="edit('cancel')"
  >
    <svg
      tuiIcon="cross"
      size="sm"
      color="white"
    ></svg>
  </button>
</span>

<span
  class="edit"
  *ngIf="!editing || key!==editingKey"
  tuiTooltip="{{'TENANT.DETAIL.EDIT' | translate}}"
  (click)="edit('edit')"
>
  <svg
    tuiIcon="pencil-square"
  ></svg>
</span>
