
.donut-chart
  width: 100%
  height: 300px

  border: 1px green solid
  background: #fff
  position: relative


.legend
  vertical-align: middle
  font-size: 0.875rem

.label
  text-anchor: middle

.label-name
  font-weight: bold


svg.pie

  position: absolute
  margin-right: 80px
  margin-top: 50px
