<p>
  {{'TENANT.BILL.CONFIRM_CLEAR_BILL' | translate}} ?
</p>
<div class="bill">
  <div class="bill-id">
    <span class="key">{{'TENANT.BILL.ID' | translate}}:</span>
    <span class="value">{{bill.id}}</span>
  </div>
  <div class="bill-amount">
    <span class="key">{{'TENANT.BILL.TOTAL_AMOUNT' | translate}}:</span>
    <span class="value">{{bill.totalAmount}}</span>
  </div>
</div>

<div class="tui-modal-foot">
  <button tuiBtn="primary" (click)="confirm()">{{'TUI.MODAL.CONFIRM' | translate}}</button>
  <button tuiBtn="default" (click)="close()">{{'TUI.MODAL.CANCEL' | translate}}</button>
</div>
