\:host
  .tui-layout-main-container
    display: flex
    flex-direction: column
    min-height: 100%
    min-width: 50rem

  .container-operation-bar
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 0px 20px
    height: 50px
    border-top: 1px solid #edf1f7

    button
      display: flex
      align-items: center
      font-size: .875rem

      svg
        margin-right: 0.4rem
        fill: white

    .tui-search
      margin-left: 1rem

  .container-content
    display: flex
    flex-direction: column
    justify-content: space-between
    flex: 1

  .tui-table-row > div, .tui-table-head > div
    padding: .5rem 1rem
