<div class="tui-layout-vertical">
  <div class="tui-layout-main-container">
    <div class="tui-layout-main-title">
      <span>{{'TENANT.OVERVIEW.TOTAL' | translate}}:</span>
      <span>{{pagination.total}}</span>
    </div>

    <div class="container-operation-bar">
      <button tuiBtn="primary">
        <svg tuiIcon="export"></svg>
        <span>{{'TENANT.OVERVIEW.EXPORT' | translate}}</span>
      </button>
      <tui-search [(ngModel)]="filter.keyword" (ngModelChange)="getTenants()">
      </tui-search>
    </div>

    <div class="container-content">
      <tui-table [tuiTableFlex]="[2,2,1,1,2,1,1,1,1]" [loading]="loading">
        <tui-table-head>
          <div>{{'TENANT.OVERVIEW.NAME' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.DESC' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.INSTANCE' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.USER' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.ADMIN' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.CREATE_TIME' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.BILL' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.CONSUMPTION' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.STATUS' | translate}}</div>
        </tui-table-head>
        <tui-table-row *ngFor="let tenant of tenants">
          <div class="text-ellipsis">
            <a [routerLink]="'/tenant/detail/' + tenant.tenantInfo.uid" class="tenant-name">{{tenant.tenantInfo.name + ' (' + tenant.tenantInfo.uid + ')'}}</a>
          </div>
          <div class="text-ellipsis">{{tenant.tenantInfo.description | tuiDefault}}</div>
          <div>{{tenant.instanceCount}}</div>
          <div>{{tenant.userCount}}</div>
          <div class="text-ellipsis">{{tenant.tenantInfo.admin}}</div>
          <div class="text-ellipsis">{{tenant.tenantInfo.createTime | date:'y/M/d'}}</div>
          <div class="text-ellipsis">{{tenant.totalAmount | tuiDefault}}</div>
          <div class="text-ellipsis">{{tenant.unpaidAmount | tuiDefault}}</div>
          <div class="status-td">
            <!--original status: 原来只有ACTIVATING和CANCELED两个状态;
              from now on:
              [ CREATING: 创建中
                ACTIVATING: 运行中
                BROKEN: 故障
                CANCELED: 已删除 ]
            -->
            <svg
              *ngIf="tenant.tenantInfo.status==='CREATING'"
              class="icon creating"
            ></svg>
            <svg
              *ngIf="tenant.tenantInfo.status==='ACTIVATING'"
              class="icon activating"
              tuiIcon="circle"
              size="md"
            ></svg>
            <svg
              *ngIf="tenant.tenantInfo.status==='BROKEN'"
              class="icon broken"
              tuiIcon="exclamation-circle"
              size="md"
            ></svg>
            <svg
              *ngIf="tenant.tenantInfo.status==='CANCELED'"
              class="icon canceled"
              tuiIcon="trash-circle"
              size="md"
            ></svg>
            <!-- <span>{{'TENANT.STATUS.' + tenant.tenantInfo.status | translate}}</span> -->
            <span class="status">{{tenant.tenantInfo.statusAlias}}</span>
          </div>
        </tui-table-row>
      </tui-table>
    </div>
    <div class="tui-layout-main-pagination-footer">
      <tui-pagination [(pagination)]="pagination" (paginationChange)="getTenants()">
      </tui-pagination>
    </div>
  </div>
</div>
