<div class="tui-layout-vertical">
  <div class="tui-layout-main-container tdc-eco-common-list-layout">
    <div class="tui-layout-main-title">
      <span>{{'TENANT.OVERVIEW.TOTAL' | translate}}:</span>
      <span>62</span>
    </div>

    <div class="container-operation-bar">
      <button tuiBtn="primary">
        <svg tuiIcon="export"></svg>
        <span>{{'TENANT.OVERVIEW.EXPORT' | translate}}</span>
      </button>
      <tui-search [(ngModel)]="keyword" (ngModelChange)="search()">
      </tui-search>
    </div>

    <div class="container-content">
      <tui-table [tuiTableFlex]="[2,2,1,1,2,2,1]" [loading]="loading">
        <tui-table-head>
          <div>{{'TENANT.OVERVIEW.NAME' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.DESC' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.INSTANCE' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.USER' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.ADMIN' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.CONSUMPTION' | translate}}</div>
          <div>{{'TENANT.OVERVIEW.STATUS' | translate}}</div>
        </tui-table-head>
        <tui-table-row *ngFor="let tenant of tenants">
          <div class="text-ellipsis">{{tenant.name}}</div>
          <div class="text-ellipsis">{{tenant.description}}</div>
          <div>{{tenant.instances}}</div>
          <div>{{tenant.users}}</div>
          <div class="text-ellipsis">{{tenant.admin}}</div>
          <div class="text-ellipsis">{{tenant.consumption}}</div>
          <div>{{tenant.status}}</div>
        </tui-table-row>
      </tui-table>
    </div>
    <div class="tui-layout-main-pagination-footer">
      <tui-pagination [(pagination)]="pagination" (paginationChange)="paginationChange()">
      </tui-pagination>
    </div>
  </div>
</div>
