<div class="tui-layout-vertical">
  <div class="tui-layout-main-container container flex-auto" style="">

    <div class="main-content main">
      <h3>修改密码</h3>
      <div>
        <span>原密码</span><input class="field" type="password" />
      </div>
      <div>
        <span>新密码</span><input class="field" type="password" />
      </div>
      <div>
        <span>确认密码</span><input class="field" type="password" />
      </div>

      <div class="buttons">
        <button class="tui-btn-md tui-btn-primary tui-btn">确认</button>
        <button class="tui-btn-md tui-btn-default tui-btn">取消</button>
      </div>
    </div>

  </div>
</div>
