<section>
  <div class="search-box gap">
    <tui-search
      [(ngModel)]="search"
      (ngModelChange)="onSearch(true)"
    ></tui-search>
  </div>
  <tui-table
    [tuiTableFlex]="[1,2,1,1,1.5,1]"
    [(tuiTableData)]="tableData"
    (tuiTableDataChange)="selectChange($event)"
  >
    <tui-table-head>
      <div>{{'TENANT.NETWORK.NAME' | translate}}</div>
      <div>{{'TENANT.NETWORK.IP' | translate}}</div>
      <div>{{'TENANT.NETWORK.GATEWAY' | translate}}</div>
      <div>{{'TENANT.NETWORK.CREATER' | translate}}</div>
      <div>{{'TENANT.NETWORK.CREATED_DATE' | translate}}</div>
      <div class="actions">{{'TENANT.NETWORK.ACTIONS' | translate}}</div>
    </tui-table-head>
    <tui-table-row
      *ngFor="let datum of tableData"
      [tuiTableRowDatum]="datum"
    >
      <div><strong>{{datum.name || ''}}</strong></div>
      <div>{{datum.cidr || ''}}</div>
      <div>{{datum.gateway || ''}}</div>
      <div>{{datum.created_by || ''}}</div>
      <div>{{datum.created_at || ''}}</div>
      <div class="actions">
        <svg
          tuiIcon="pencil-square"
          (click)="onViewDetails(datum)"
        ></svg>
        <svg
          tuiIcon="trash"
          (click)="onDelete(datum)"
        ></svg>
      </div>
    </tui-table-row>
  </tui-table>
  <div class="gap"></div>
</section>
