<tui-table [tuiTableFlex]="[1, 2]" [loading]="loading">
  <tui-table-row>
    <div class="text-ellipsis">{{'TENANT.NETWORK.NAME' | translate}}</div>
    <div class="text-ellipsis">networkname-1</div>
  </tui-table-row>
  <tui-table-row>
    <div class="text-ellipsis">IP</div>
    <div class="text-ellipsis">192.168.1.1 ~ 192.168.1.254</div>
  </tui-table-row>
  <tui-table-row>
    <div class="text-ellipsis">{{'TENANT.NETWORK.GATEWAY' | translate}}</div>
    <div class="text-ellipsis">192.168.1.1</div>
  </tui-table-row>
  <tui-table-row>
    <div class="text-ellipsis">{{'TENANT.NETWORK.CREATED'| translate}}</div>
    <div class="text-ellipsis">Admin</div>
  </tui-table-row>
  <tui-table-row>
    <div class="text-ellipsis">{{'TENANT.NETWORK.CREATED_DATE'| translate}}</div>
    <div class="text-ellipsis">2016/12/23 10:00AM</div>
  </tui-table-row>
  <tui-table-row>
    <div class="text-ellipsis">{{'TENANT.NETWORK.LIMIT'| translate}}</div>
    <div class="text-ellipsis">1000 MB/S</div>
  </tui-table-row>
</tui-table>
