<div class="tui-layout-main-container flex-auto">
  <div class="tui-layout-main-title">
    Line chart
  </div>
  <div #chart style="width:100%;height:600px"></div>
  <form #form="ngForm" tuiForm labelFlex="1" inputFlex="8">
    <tui-form-item label="data">
      <tui-textarea name="data" rows="10"></tui-textarea>
    </tui-form-item>
    <tui-form-item label="config">
      <tui-textarea name="config" rows="10"></tui-textarea>
    </tui-form-item>
    <tui-form-item>
      <button tuiBtn="primary" (click)="draw()">Redraw</button>
    </tui-form-item>
  </form>
</div>
