<div class="tui-layout-main-title flex-title">
  <div class="left">
    <span>{{'TENANT.TENANT_ADMIN.TOTAL' | translate}}:</span>
    <span>{{pagination.total}}</span>
  </div>
  <div class="right">
    <tui-search
      [(ngModel)]="filter.keyword"
      (ngModelChange)="filterChange()"
    ></tui-search>
    <button tuiBtn="primary" (click)="openAddModel()">
      <svg tuiIcon="create"></svg>
      <span>{{'TENANT.TENANT_ADMIN.ADD' | translate}}</span>
    </button>
    <button tuiBtn="primary" (click)="openSendModel()">
      <img class="icon-img tui-icon" tecImgSrc="link.svg" tecImgPrefix="/assets/svg" />
      <span>{{'TENANT.TENANT_ADMIN.SEND' | translate}}</span>
    </button>
  </div>
</div>

<div class="container-content">
  <tui-table [tuiTableFlex]="[1,2,1,1.5,1,1,1,0.6]" [loading]="loading">
    <tui-table-head>
      <div>{{'TENANT.TENANT_ADMIN.USER_NAME' | translate}}</div>
      <div>{{'TENANT.TENANT_ADMIN.EMAIL' | translate}}</div>
      <div>{{'手机' | translate}}</div>
      <div>{{'TENANT.TENANT_ADMIN.MAX_TENANT_NUMBER' | translate}}</div>
      <div>{{'TENANT.TENANT_ADMIN.FULL_NAME' | translate}}</div>
      <div>{{'TENANT.TENANT_ADMIN.COMPANY' | translate}}</div>
      <div>{{'TENANT.TENANT_ADMIN.DEPARTMENT' | translate}}</div>
      <div>{{'TENANT.DETAIL.OP' | translate}}</div>
    </tui-table-head>
    <tui-table-row *ngFor="let item of TenantAdmins; let i=index;">
      <div class="text-ellipsis">{{item.username}}</div>
      <div class="text-ellipsis">{{item.userEmail}}</div>
      <div class="text-ellipsis">{{item.userPhone}}</div>
      <div>
        <ng-container *ngIf="!quantityEditing || editingIndex!=i">
          <span>{{item.maxTenantQuantity}}</span>
          <svg class="pencil" (click)="edit(true, i)" tuiIcon="pencil" style="margin-left: 12px"></svg>
        </ng-container>
        <ng-container *ngIf="!!quantityEditing && (i===editingIndex)">
          <input
            type="text"
            class="text-ellipsis replacement"
            value="{{item.maxTenantQuantity || ''}}"
            #max
          />
          <svg (click)="put(item, max)" tuiIcon="check" style="margin-left: 12px"></svg>
          <svg (click)="edit(false, i)" tuiIcon="cross" style="margin-left: 12px"></svg>
        </ng-container>
      </div>
      <div>{{item.fullName}}</div>
      <div class="text-ellipsis">{{item.company}}</div>
      <div class="text-ellipsis">{{item.department}}</div>
      <div>
        <span tuiTooltip="{{'TENANT.DETAIL.DELETE' | translate}}">
          <svg tuiIcon="trash" (click)="delete(item)"></svg>
        </span>
      </div>
    </tui-table-row>
  </tui-table>
</div>
<div class="tui-layout-main-pagination-footer">
  <tui-pagination [(pagination)]="pagination" (paginationChange)="getTenantAdmins()">
  </tui-pagination>
</div>
