<div class="operation-bar">
  <tui-search [(ngModel)]="keyword" (ngModelChange)="search()">
  </tui-search>
</div>
<!-- <tui-table [tuiTableFlex]="[2,1,1,1,2]" [loading]="loading">
  <tui-table-head>
    <div>{{'TENANT.INSTANCE.NAME' | translate}}</div>
    <div>{{'TENANT.OVERVIEW.STATUS' | translate}}</div>
    <div>{{'TENANT.INSTANCE.TEMPLATE' | translate}}</div>
    <div>TCU</div>
    <div>{{'TENANT.OVERVIEW.DESC' | translate}}</div>
  </tui-table-head>
  <tui-table-row *ngFor="let instance of instances">
    <div class="text-ellipsis">{{instance.name}}</div>
    <div class="text-ellipsis">{{instance.status}}</div>
    <div>{{instance.template}}</div>
    <div>{{instance.tcu}}</div>
    <div class="text-ellipsis">{{instance.description}}</div>
  </tui-table-row>
</tui-table> -->
