<tui-submenu>
  <tui-submenu-list menuTitle="{{'TENANT.OVERVIEW.TOTAL' | translate}}: {{tenantsCount}}" [items]='submenuItems'></tui-submenu-list>
</tui-submenu>
<div class="tui-layout-vertical" [tuiLoading]="loading" tccLoadingHeight="600px">
  <div class="tui-layout-main-container">
    <div class="tui-layout-main-title">
      {{tenant.name}}
    </div>
    <div class="tenant-detail">
      <div class="description">
        {{tenant.description}}
        <span *ngIf="!tenant.description">{{'TENANT.DETAIL.NO_DESCRIPTION' | translate}}</span>
      </div>
      <div class="tenant-property">
        <tui-property icon="user-slash" label="{{'TENANT.DETAIL.ADMIN' | translate}}" [value]="tenant.admin"> </tui-property>
        <tui-property icon="clock" label="{{'TENANT.DETAIL.CREATE_TIME' | translate}}" [value]="tenant.createTime | date:'y/M/d HH:mm'"></tui-property>
      </div>
    </div>
  </div>
  <tui-tab *ngIf="!loading">
    <tec-tenant-abstract *tuiTabPane="'TENANT.DETAIL.ABSTRACT' | translate"></tec-tenant-abstract>
    <tec-tenant-instance *tuiTabPane="'TENANT.DETAIL.INSTANCE' | translate" [uid]="tenant.uid"></tec-tenant-instance>
    <tec-tenant-network *tuiTabPane="'TENANT.DETAIL.NETWORK' | translate"></tec-tenant-network>
    <tec-tenant-ticket *tuiTabPane="'TENANT.DETAIL.TICKET' | translate"></tec-tenant-ticket>
    <tec-tenant-error *tuiTabPane="'TENANT.DETAIL.ERROR' | translate"></tec-tenant-error>
    <tec-tenant-quota *tuiTabPane="'TENANT.DETAIL.QUOTA' | translate"></tec-tenant-quota>
    <tec-tenant-bill *tuiTabPane="'TENANT.DETAIL.BILL' | translate" [uid]="tenant.uid"></tec-tenant-bill>
  </tui-tab>
</div>
