<tui-submenu backUrl="../../overview">
  <div class="submenu-filter">
    <tui-search [(ngModel)]="filter.keyword" (ngModelChange)="filterChange()"></tui-search>
    <tui-checkbox [(ngModel)]="filter.canceled" (ngModelChange)="filterChange(true)">
      <span class="message">{{'TENANT.SERVICE.SHOW_CANCELED_TENANT' | translate}}</span>
    </tui-checkbox>
  </div>
  <tui-submenu-list menuTitle="{{'TENANT.OVERVIEW.TOTAL' | translate}}: {{tenantsCount}}" [items]="submenuItems"></tui-submenu-list>
</tui-submenu>
<div class="tui-layout-vertical" [tuiLoading]="loading" tccLoadingHeight="600px">
  <div class="tui-layout-main-container">
    <div class="tui-layout-main-title">
      <div class="left">
        {{tenant.name + ' (' + tenant.uid + ')'}}
        <tec-tenant-status-icon class="tenant-status" [status]="tenant.status" [alias]="tenant.statusAlias"></tec-tenant-status-icon>
        <span *ngIf="tenant.status ===statuses.broken" class="status-span" tuiTooltip="{{'TENANT.OVERVIEW.MORE_TIP' | translate}}">
          <svg class="view-more" tuiIcon="more" (click)="viewFailureCourse(tenant)"></svg>
        </span>
      </div>
      <div
        class="right"
        *ngIf="isAdmin"
      >
        <button *ngIf="!(tenant.status === 'CANCELED')" tuiBtn="primary" (click)="deleteTenant(tenant)">
          <svg tuiIcon="trash"></svg>
          <span>{{'TENANT.DETAIL.DELETE_TENANT' | translate}}</span>
        </button>
      </div>
    </div>
    <div class="tenant-detail">
      <div class="description">
        {{tenant.description}}
        <span *ngIf="!tenant.description">{{'TENANT.DETAIL.NO_DESCRIPTION' | translate}}</span>
      </div>
      <div class="tenant-property">
        <tui-property icon="user-slash" label="{{'TENANT.DETAIL.ADMIN' | translate}}" [value]="tenant.admin"> </tui-property>
        <tui-property icon="clock" label="{{'TENANT.DETAIL.CREATE_TIME' | translate}}" [value]="tenant.createTime | date:'y/M/d HH:mm'"></tui-property>
        <tui-property
          icon="mail" label="Email" [value]="tenant.adminEmail"
          *ngIf="featureUser.emailEnabled">
        ></tui-property>
        <tui-property
          icon="mail" label="手机号" [value]="tenant.adminPhone"
          *ngIf="featureUser.phoneEnabled">
        ></tui-property>
        <!--TODO: i18n-->
      </div>
    </div>
  </div>
  <tui-tab *ngIf="!loading" [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="selectedIndexChange($event)">
    <tec-tenant-abstract *tuiTabPane="'TENANT.DETAIL.ABSTRACT' | translate"></tec-tenant-abstract>
    <tec-tenant-instance *tuiTabPane="'TENANT.DETAIL.INSTANCE' | translate" [uid]="tenant.uid"></tec-tenant-instance>
    <tec-tenant-network *tuiTabPane="'TENANT.DETAIL.NETWORK' | translate"></tec-tenant-network>
    <!--WARP-21827: templately hide ticket tab and all related parts:-->
    <!--
    <tec-tenant-ticket *tuiTabPane="'TENANT.DETAIL.TICKET' | translate"></tec-tenant-ticket>
    <tec-tenant-error *tuiTabPane="'TENANT.DETAIL.ERROR' | translate"></tec-tenant-error>
    -->
    <tec-tenant-quota *tuiTabPane="'TENANT.DETAIL.QUOTA' | translate"></tec-tenant-quota>
    <tec-tenant-service *tuiTabPane="'TENANT.DETAIL.SERVICE' | translate"></tec-tenant-service>
  </tui-tab>
</div>