<div class="tui-layout-vertical">
  <div class="tui-layout-main-container container">
    <div class="tui-layout-main-title flex-title">
      <span>
        {{'TICKET.TOTAL' | translate}}:
        <span>{{pagination.total}}</span>
      </span>

      <span>
        <input
          [(ngModel)]="filter.isResolved"
          type="checkbox" id="show"
          (ngModelChange)="showResolved()"
        />
        <label for="show">{{'TICKET.SHOW_HANDLED' | translate}}</label>

        <tui-select
          [(ngModel)]="filter.types"
          (ngModelChange)="fetchData(true)"
          style="width: 160px;"
          class="filter"
        >
          <tui-select-option
            *ngFor="let option of options"
            [value]="option.type"
            [label]="option.typeAlias"
          >
            {{ option.typeAlias | tuiDefault }}
          </tui-select-option>
        </tui-select>
        
        <tui-search
          [(ngModel)]="search"
          (ngModelChange)="fetchData(true)"
          class="search-field"
        ></tui-search>
      </span>
    </div>

    <!-- <div class="container-operation-bar"></div> -->

    <div class="container-content content">
      <tui-table [tuiTableFlex]="[0.8,1,2,1,1.5,1,1.5,1.5,0.5]" [loading]="loading" class="tui-table table">
        <tui-table-head
          [sortMode]="sortMode"
          (sortChange)="fetchData($event)"
        >
          <tui-table-head-cell sortKey="id">{{'TASKS.ID' | translate}}</tui-table-head-cell>
          <tui-table-head-cell sortKey="priority">{{'TICKET.PRIORITY' | translate}}</tui-table-head-cell>
          <div>{{'TICKET.TITLE' | translate}}</div>
          <div>{{'TICKET.STATUS' | translate}}</div>
          <div>{{'TICKET.CATEGORY' | translate}}</div>
          <div>{{'TICKET.CREATOR' | translate}}</div>
          <tui-table-head-cell sortKey="createdTime">{{'TICKET.CREATE_TIME' | translate}}</tui-table-head-cell>
          <tui-table-head-cell sortKey="dueDate">{{'TICKET.END_TIME' | translate}}</tui-table-head-cell>
          <div>{{'TICKET.OPERATE' | translate}}</div>
        </tui-table-head>

        <tui-table-row *ngFor="let item of tableData">
          <div>{{item.id}}</div>
          <div>
            <span class="{{item.priority | lowercase}} priority">{{item.priority}}</span>
          </div>
          <div>{{item.title}}</div>
          <div>
            <svg
              [class.resolved]="item.status !== statuses['unresolved']"
              class="icon-circle"
              tuiIcon="circle"></svg>
            {{item.statusAlias}}
          </div>
          <div>{{item.serviceTypeAlias}}</div>
          <div>{{item.submitter}}</div>
          <div>{{item.createdTime | date: 'yyyy/MM/dd h:mm a'}}</div>
          <div class="text-ellipsis">{{item.dueDate | date: 'yyyy/MM/dd h:mm a'}}</div>
          <div class="operation">
            <span
              tuiTooltip="{{'TICKET.VIEW_DETAILS' | translate}}"
              (click)="gotoTicketDetail(item)"
              class="hand"
            >
              <svg tuiIcon="search-square"></svg>
            </span>
          </div>
        </tui-table-row>
      </tui-table>
    </div>
    <div class="tui-layout-main-pagination-footer">
      <tui-pagination [(pagination)]="pagination" (paginationChange)="fetchData()">
      </tui-pagination>
    </div>
  </div>
</div>
