<div class="tui-layout-vertical">
  <div class="tui-layout-main-container">
    <div class="tui-layout-main-title">
      <span>{{'SYSTEM.OVERVIEW.TOTAL' | translate}}:</span>
      <span>21</span>
    </div>

    <div class="container-operation-bar">
      <tui-search [(ngModel)]="keyword" (ngModelChange)="search()">
      </tui-search>
    </div>

    <div class="container-content">
      <tui-table [tuiTableFlex]="[1, 1, 1, 2, 3, 1, 1]" [loading]="loading">
        <tui-table-head>
          <div>{{'SYSTEM.OVERVIEW.NAME' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.STATUS' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.VERSION' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.TAG' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.IMAGE' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.DURATION' | translate}}</div>
          <div>{{'SYSTEM.OVERVIEW.OPERATION' | translate}}</div>
        </tui-table-head>
        <tui-table-row *ngFor="let service of services">
          <div class="text-ellipsis">{{service.name}}</div>
          <div>{{service.status}}</div>
          <div class="text-ellipsis">{{service.version}}</div>
          <div class="text-ellipsis">{{service.tag.join(' ')}}</div>
          <div class="text-ellipsis">{{service.image}}</div>
          <div>{{service.duration}}</div>
          <div></div>
        </tui-table-row>
      </tui-table>
    </div>
    <div class="tui-layout-main-pagination-footer">
      <tui-pagination [(pagination)]="pagination" (paginationChange)="paginationChange()">
      </tui-pagination>
    </div>
  </div>
</div>
